@import "tailwindcss";

@theme {
  --color-brand-maroon: #800000;
  --color-brand-gold: #ffd700;
  --color-brand-cream: #e8e1d1;
  --color-brand-card: #f2ede1;
  --color-brand-inactive: #d7cdb7;
  --color-brand-dark: #3d3d3d;
  --color-ucl-blue: #0052cc;
  --color-uel-orange: #ff8800;
  --color-uecl-green: #00a859;
  --color-wpc-pink: #a3267b;
}

body {
  background-color: var(--color-brand-cream);
  color: var(--color-brand-dark);
}
